@media screen and (max-width: 960px) and (min-width: 0px) {
  .topbar-announcement-image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 30px;
    }
  }

  .navbar-nav {
    background-color: #00112f;
    padding: 20px 20px;
  }

  a.nav-link {
    min-height: 50px;
    border-bottom: 1px solid #0f1e36;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
    background: none;
    box-shadow: none;
    justify-content: left !important;
    font-size: 1em;
  }

  .launch-dapp {
    border-radius: 0 !important;
    fill: #cbc1f4 !important;
    color: #cbc1f4 !important;
    font-size: .9em !important;
    padding-left: 0 !important;

    &:hover {
      fill: #fff !important;
      color: #fff !important;
    }
  }

  .nav-item {
    justify-content: flex-start;
  }

  .ecosystem-dropdown-mobile {
    display: none; // later grid from js
    grid-template-columns: 1fr;
    list-style: none;
    padding-left: 0;

    li {
      padding: 0;
      margin: 0;
      margin-bottom: 10px;
      border-bottom: 1px solid #0f1e36;
      padding-bottom: 10px;
    }

    a {
      display: flex;
      justify-content: flex-start;
      min-height: 30px;
      text-transform: uppercase;
      font-size: .9em;
      position: relative;
      fill: #cbc1f4;
      color: #cbc1f4;

      &:hover {
        fill: #fff;
        color: #fff;
      }

      img {
        height: 30px;
        width: 30px;
        margin-right: 10px;
      }
    }
  }

  .hamburger.flip span {

    &:nth-of-type(1),
    &:nth-of-type(4) {
      top: 18px;
      width: 0;
      left: 50%;
    }

    &:nth-of-type(2) {
      transform: rotate(45deg);
    }

    &:nth-of-type(3) {
      transform: rotate(-45deg);
    }
  }

  .hero_image {
    display: none;
  }

  footer {
    .subscribe {

      &-form,
      &-form-inputs {
        flex-direction: column;
      }

      &-form-inputs,
      &-form-submit {
        box-shadow: none;
      }

      &-form-inputs {
        width: 100%;
      }

      &-form {

        .name,
        .email {
          width: 100%;
          margin-bottom: 20px;
        }

        .divider {
          display: none;
        }

        &-inputs input,
        .name {
          border-radius: 90px;
        }

        &-submit button,
        &-inputs input {
          width: 100%;
        }
      }

    }

    .links {
      .social {
        flex-direction: column;

        &-icons {
          margin-top: 23px;
        }
      }

      .site-map {
        flex-direction: column;

        div {
          text-align: center;
        }

        ul {
          justify-content: center;
        }
      }
    }
  }
}