/******* Customized Bootstrap ********/
$gradient-primary: linear-gradient(90deg, #fb8b47, #ce2041);
$body-bg: #001846;
$font-family-base: 'Montserrat', sans-serif;
$enable-responsive-font-sizes: true;
$link-decoration: none;
$body-color: #cbc1f4;

// $body-color: $tertiary;

// $headings-color: $dark;

// $headings-font-weight: 700;

// $display-font-weight: 700;

// $border-color: $light;

// $input-border-color: $light;

// $border-radius: 8px;

// $border-radius-sm: $border-radius;

// $border-radius-lg: $border-radius;


// $enable-negative-margins: true;