/******* Customize Bootstrap ********/
$gradient-primary: linear-gradient(90deg, #fb8b47, #ce2041);

$body-bg: #001846;

$font-family-base: 'Montserrat', sans-serif;

$enable-responsive-font-sizes: true;

$link-decoration: none;

$body-color: #cbc1f4;

$enable-negative-margins: true;

$shadow-primary: inset 0 0 1px 1px #f78247;