@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap);

.header[data-v-d70fe996] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    background-color: transparent;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px)
}

.desktop-nav[data-v-d70fe996] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px
}

.logo[data-v-d70fe996] {
    display: flex;
    height: 60px;
    flex-direction: row;
    align-items: center
}

.logo img[data-v-d70fe996] {
    height: 60px;
    width: 190px;
    margin-right: 10px
}

@media (max-width:800px) {
    .links div[data-v-d70fe996] {
        display: none
    }
}

.links[data-v-d70fe996] {
    display: flex;
    align-items: center
}

.links div[data-v-d70fe996] {
    font-family: Open Sans, Helvetica Neue, sans-serif;
    cursor: pointer;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    --tw-text-opacity: 1;
    color: rgb(195 201 208/var(--tw-text-opacity));
    --tw-space-x-reverse: 0;
    margin-right: calc(24px*var(--tw-space-x-reverse));
    margin-left: calc(24px*(1 - var(--tw-space-x-reverse)))
}

.links div[data-v-d70fe996]:hover {
    color: #f3f2f2
}

.links .hu-menu .community-menu[data-v-d70fe996] {
    display: none;
    position: absolute;
    top: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    flex-direction: column;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
    border: 1px solid rgba(45, 44, 46, .81);
    border-radius: 6px;
    padding: 10px;
    background-color: #151316;
    z-index: 998
}

.links .hu-menu:hover .community-menu[data-v-d70fe996] {
    display: block
}

.links .hu-menu .community-menu ul[data-v-d70fe996] {
    list-style: none;
    margin: 0;
    padding: 0
}

.links .hu-menu .community-menu li[data-v-d70fe996] {
    margin: 0
}

.links .hu-menu .community-menu a[data-v-d70fe996] {
    display: block;
    font-size: 15px;
    color: rgb(195 201 208/var(--tw-text-opacity));
    text-decoration: none;
    padding: 5px 6px
}

.links .hu-menu .community-menu a[data-v-d70fe996]:hover {
    color: #f3f2f2
}

.button[data-v-d70fe996],
.router-contain[data-v-d70fe996] {
    display: flex;
    align-self: center
}

.button[data-v-d70fe996] {
    margin: 0;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    border: 1px solid var(--primary-button-border);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    background: var(--primary-button-background);
    transition: .25s ease
}

.button[data-v-d70fe996]:hover {
    background: var(--primary-button-background-hover)
}

.right-image[data-v-d70fe996] {
    width: 16px;
    margin-left: 10px;
    min-width: 16px;
    height: 16px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat
}

.intro[data-v-09dd1490] {
    margin-bottom: 5rem
}

.animation-wrapper[data-v-09dd1490] {
    width: 50%;
    padding-bottom: 50%
}

.sphere-animation[data-v-09dd1490] {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 550px;
    height: 550px;
    margin: -290px 0 0 -290px
}

.sphere path[data-v-09dd1490] {
    stroke: #cc1388
}

section[data-v-09dd1490] {
    position: relative;
    height: auto;
    min-height: 680px;
    padding-top: 56px
}

.intro-container[data-v-09dd1490] {
    width: 991px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 1
}

.bg[data-v-09dd1490] {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    left: 8px;
    top: -55px;
    height: 100%;
    max-height: 400px;
    width: 100%;
    max-width: 991px;
    position: absolute
}

.sphere path[data-v-09dd1490] {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(80, 80, 80, .35);
    backface-visibility: hidden
}

@media (min-width:500px) {
    .sphere path[data-v-09dd1490] {
        stroke-width: .4px
    }
}

.text[data-v-09dd1490] {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    max-width: 700px
}

.intro-title[data-v-09dd1490] {
    font-family: Roboto, sans-serif;
    font-size: 48px;
    margin-bottom: 24px
}

.intro-description[data-v-09dd1490],
.intro-title[data-v-09dd1490] {
    text-align: center;
    opacity: 0;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px)
}

.intro-description[data-v-09dd1490] {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px
}

.intro-buttons[data-v-09dd1490] {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    opacity: 0
}

.intro-button[data-v-09dd1490] {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    background: var(--primary-button-background);
    transition: .25s ease;
    color: #fff
}

.primary[data-v-09dd1490] {
    height: 44px;
    width: 178px;
    border: 1px solid var(--primary-button-border)
}

.primary[data-v-09dd1490]:hover {
    background: var(--primary-button-background-hover)
}

.right-image[data-v-09dd1490] {
    width: 16px;
    margin-left: 10px;
    min-width: 16px;
    height: 16px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat
}

.secondary[data-v-09dd1490] {
    height: 44px;
    width: 178px;
    --tw-space-x-reverse: 0;
    margin-right: calc(16px*var(--tw-space-x-reverse));
    margin-left: calc(16px*(1 - var(--tw-space-x-reverse)));
    --tw-space-y-reverse: 0;
    margin-top: calc(0px*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px*var(--tw-space-y-reverse));
    background: var(--secondary-button-background);
    border: 1px solid var(--secondary-button-border)
}

.secondary[data-v-09dd1490]:hover {
    background: var(--secondary-button-background-hover);
    border: 1px solid var(--secondary-button-border-hover);
    color: var(--secondary-button-text-hover)
}

.statistics[data-v-09dd1490] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff
}

.statistics div[data-v-09dd1490] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.chains[data-v-09dd1490],
.dex[data-v-09dd1490],
.tokens[data-v-09dd1490] {
    padding: 20px
}

.amount[data-v-09dd1490] {
    font-weight: 600;
    font-size: 35px;
    --tw-text-opacity: 1;
    margin: 8px 0;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.text-count[data-v-09dd1490] {
    margin-top: 0;
    --tw-text-opacity: 1;
    color: rgb(195 201 208/var(--tw-text-opacity));
    font-size: 14px;
    line-height: 18px
}

@media screen and (max-width:760px) {
    .sphere-animation[data-v-09dd1490] {
        width: 450px;
        height: 450px;
        margin: -230px 0 0 -230px
    }

    .intro-container[data-v-09dd1490] {
        width: 400px;
        top: 10%
    }
}

@keyframes fadeInUp-09dd1490 {
    0% {
        opacity: 0;
        transform: translateY(50px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.bg[data-v-09dd1490] {
    animation: fadeInUp-09dd1490 1s ease-in-out forwards
}

.intro-title[data-v-09dd1490] {
    animation: fadeInUp-09dd1490 1s ease-in-out 1s forwards
}

.intro-description[data-v-09dd1490] {
    animation: fadeInUp-09dd1490 .5s ease-in-out .5s forwards
}

.intro-buttons[data-v-09dd1490] {
    animation: fadeInUp-09dd1490 1.2s ease-in-out 1.2s forwards
}

.products-overview[data-v-89510194] {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-image: url(/img/prd_bg.94767c7b.svg);
    background-position: 0 20%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 80px;
    padding: 70px 0 130px
}

@media screen and (max-width:768px) {
    .products-overview[data-v-89510194] {
        margin-bottom: 0
    }
}

.products-overview-wrap[data-v-89510194] {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.products_overview_title[data-v-89510194] {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    color: #fff;
    font-size: 48px
}

.products_overview_title_highlighted[data-v-89510194] {
    color: var(--primary-color)
}

.products-overview-video[data-v-89510194] {
    box-shadow: 0 45px 74px -16px rgba(0, 0, 0, .72);
    max-width: 840px;
    width: 100%
}

.products-wrap[data-v-89510194] {
    --container: 1600px;
    --padding: 150px;
    width: 100%;
    max-width: calc(var(--container) + var(--padding)*2);
    margin: 0 auto;
    padding: 0 var(--padding)
}

@media screen and (max-width:768px) {
    .products-wrap[data-v-89510194] {
        --padding: 16px
    }
}

@media screen and (max-width:992px) {
    .products-wrap[data-v-89510194] {
        --padding: 32px
    }
}

@media screen and (max-width:1400px) {
    .products-wrap[data-v-89510194] {
        --padding: 60px
    }
}

.products-wrap-title-container[data-v-89510194] {
    padding-bottom: 3rem;
    margin-bottom: 5rem;
    text-align: center
}

.products-wrap-title[data-v-89510194] {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600
}

@media (min-width:1024px) {
    .products-wrap-title[data-v-89510194] {
        font-size: 1.875rem;
        line-height: 2.25rem
    }

    .products-wrap-title-container[data-v-89510194] {
        padding-bottom: 2.5rem
    }

    .products-wrap-description[data-v-89510194] {
        font-size: 1rem;
        line-height: 1.5rem
    }
}

.products-wrap-description[data-v-89510194] {
    font-size: 1.125rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: #ff46bb;
    max-width: 48rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto
}

.products__details .product[data-v-89510194] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 100px
}

.products__details .product-left[data-v-89510194] {
    flex-direction: row-reverse
}

@media screen and (max-width:992px) {
    .products__details .product[data-v-89510194] {
        flex-direction: column;
        margin-bottom: 200px
    }
}

@media screen and (max-width:768px) {
    .products__details .product[data-v-89510194] {
        margin-bottom: 150px
    }
}

@media screen and (max-width:576px) {
    .products__details .product[data-v-89510194] {
        margin-bottom: 90px
    }
}

.products__details .product .preview-wrapper[data-v-89510194] {
    max-width: 561px;
    width: 100%
}

@media screen and (max-width:992px) {
    .products__details .product .preview-wrapper[data-v-89510194] {
        margin-bottom: 20px
    }
}

.products__details .product .preview-wrapper .preview__image[data-v-89510194] {
    max-width: 100%;
    height: auto
}

.products__details .product-info[data-v-89510194] {
    min-width: 460px;
    padding: 0 100px 0 30px;
    width: 100%
}

@media screen and (max-width:992px) {
    .products__details .product-info[data-v-89510194] {
        padding: 0;
        min-width: auto
    }
}

.products__details .product-info__title[data-v-89510194] {
    margin-bottom: 15px
}

.products__details .product-info__title--highlighted[data-v-89510194] {
    color: var(--primary-color)
}

@media screen and (max-width:576px) {
    .products__details .product-info__title[data-v-89510194] {
        margin-bottom: 0
    }
}

.products__details .product-info__description[data-v-89510194] {
    margin-bottom: 30px
}

@media screen and (max-width:992px) {
    .products__details .product-info__description[data-v-89510194] {
        margin-bottom: 20px
    }
}

.products__details .product-info__actions[data-v-89510194] {
    display: grid;
    grid-gap: 16px 19px;
    grid-template-columns: repeat(2, auto)
}

@media screen and (max-width:576px) {
    .products__details .product-info__actions[data-v-89510194] {
        grid-gap: 11px 19px
    }
}

.products__details .product-info__actions .action__button[data-v-89510194] {
    padding: 14px 0;
    display: flex;
    justify-content: center;
    align-items: center
}

@media screen and (max-width:576px) {
    .products__details .product-info__actions .action__button[data-v-89510194] {
        padding: 14px 0;
        font-size: 12px
    }
}

.flat-btn[data-v-89510194] {
    --bg-alpha: 0.8;
    --bg-color: var(--primary-color--rgb);
    --text-alpha: 1;
    --text-color: var(--text-color--rgb);
    --border-alpha: 1;
    background-color: rgba(var(--bg-color), var(--bg-alpha));
    color: rgba(var(--text-color), var(--text-alpha));
    border: 1px solid var(--border-color);
    font: 700 16px var(--main-font);
    padding: 15px 28px 13px;
    border-radius: 6px;
    text-align: center;
    transition: color .25s, background-color .25s, border-color .25s
}

.flat-btn[data-v-89510194]:hover {
    --bg-alpha: 1
}

.flat-btn[data-v-89510194]:focus-visible {
    --border-color: var(--focus-color);
    outline: none
}

.flat-btn[data-v-89510194]:active {
    --bg-alpha: .6
}

.flat-btn[data-v-89510194]:disabled {
    cursor: default;
    pointer-events: none;
    --bg-alpha: .15;
    --text-alpha: .2
}

.stroked-btn[data-v-89510194] {
    --bg-alpha: 1;
    --bg-color: transparent;
    --text-alpha: 1;
    --text-color: var(--primary-color--rgb);
    --border-color: var(--primary-color--rgb);
    --border-alpha: 1;
    --outline-color: transparent;
    background-color: rgba(var(--bg-color), var(--bg-alpha));
    color: rgba(var(--text-color), var(--text-alpha));
    border: 1px solid rgba(var(--border-color), var(--border-alpha));
    box-shadow: 0 0 1px 1px var(--outline-color);
    font: 16px var(--main-font);
    padding: 15px 28px 13px;
    border-radius: 6px;
    text-align: center;
    transition: color .25s, background-color .25s, border-color .25s
}

.stroked-btn[data-v-89510194]:hover {
    --bg-color: var(--primary-color--rgb);
    --bg-alpha: .05
}

.stroked-btn[data-v-89510194]:focus-visible {
    --border-color: var(--focus-color--rgb);
    --bg-color: var(--primary-color--rgb);
    --bg-alpha: .05;
    outline: none
}

@keyframes UpDown-71bdf09e {
    0% {
        transform: rotate(0);
        top: 50%
    }

    50% {
        transform: rotate(-359deg);
        top: 20%
    }

    to {
        transform: rotate(0);
        top: 50%
    }
}

.token[data-v-71bdf09e] {
    position: relative;
    margin-bottom: 8rem
}

.token-icon[data-v-71bdf09e] {
    position: absolute;
    top: 50%;
    z-index: -1;
    animation: UpDown-71bdf09e 16s ease infinite
}

.token_info_title[data-v-71bdf09e] {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    color: #dee2e6;
    font-size: 48px
}

.token_info_title_highlighted[data-v-71bdf09e] {
    color: var(--primary-color)
}

.token_info_description_container[data-v-71bdf09e] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%
}

.token_info_description[data-v-71bdf09e] {
    color: #dee2e6;
    line-height: 1.5;
    letter-spacing: .02em;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    max-width: 48rem
}

.token_info_description_container p[data-v-71bdf09e] {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px)
}

.token_info_table_container[data-v-71bdf09e] {
    margin-top: 48px;
    padding-left: 24px;
    padding-right: 24px
}

.token_info_table_container[data-v-71bdf09e],
.token_info_table_content[data-v-71bdf09e] {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-box-align: center
}

.token_info_table_content[data-v-71bdf09e] {
    width: 100%
}

.token_info_table_title h3[data-v-71bdf09e] {
    font-size: 2rem;
    margin: 0;
    font-weight: 600;
    color: #dee2e6
}

.token_info_table[data-v-71bdf09e] {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 48px
}

.token_info_row[data-v-71bdf09e] {
    border-radius: 0 0 10px 10px;
    display: flex;
    text-align: center;
    width: 100%;
    border-bottom: 4px solid #58073a;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px)
}

.token_info_label[data-v-71bdf09e] {
    font-weight: 600;
    border-radius: 5px 0 0 5px;
    width: 155px;
    color: #080f16;
    background: var(--primary-color)
}

.token_info_label[data-v-71bdf09e],
.token_info_value[data-v-71bdf09e] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 5px
}

.token_info_value[data-v-71bdf09e] {
    font-weight: 500;
    border-radius: 0 5px 5px 0;
    color: #dee2e6;
    border: 1px solid var(--primary-color);
    width: 200px
}

@media screen and (max-width:1000px) {
    .icon2[data-v-71bdf09e] {
        display: none
    }
}

.box_container[data-v-71bdf09e] {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
    text-align: center;
    justify-content: center
}

.table_container[data-v-71bdf09e] {
    width: 100%;
    overflow-x: auto;
    margin-top: 48px;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px)
}

.data_table[data-v-71bdf09e] {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 800px;
    width: 100%
}

.table_head[data-v-71bdf09e] {
    display: table-header-group
}

.table_row[data-v-71bdf09e] {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0
}

.head_cell[data-v-71bdf09e] {
    background-color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
    border: 0
}

.size_medium[data-v-71bdf09e] {
    font-weight: 600;
    font-size: .825rem;
    line-height: 1.5rem;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid #515151;
    padding: 16px;
    color: #dee2e6
}

.align_center[data-v-71bdf09e] {
    text-align: center
}

.align_left[data-v-71bdf09e] {
    text-align: left
}

.table_body[data-v-71bdf09e] {
    display: table-row-group
}

.table_row[data-v-71bdf09e]:nth-of-type(odd) {
    background-color: rgba(204, 19, 136, .125)
}

.nb-container[data-v-a4fa3836] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 2rem auto 0
}

.nb[data-v-a4fa3836] {
    text-align: center;
    font-size: 10px;
    color: hsla(0, 0%, 100%, .5)
}

.roadmap[data-v-a4fa3836] {
    padding: 0 3rem 6rem
}

.products_overview_title[data-v-a4fa3836] {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    color: #fff;
    font-size: 48px
}

.products_overview_title-highlighted[data-v-a4fa3836] {
    color: #e7229f
}

.Roadmap-inner[data-v-a4fa3836] {
    max-width: 616px;
    margin-left: auto;
    margin-right: auto;
    position: relative
}

.Roadmap-inner[data-v-a4fa3836]:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    width: 6px;
    height: 100%;
    background: #565660;
    margin: 0 auto
}

.Roadmap-inner .item:hover h4[data-v-a4fa3836],
.Roadmap-inner .item:hover ul li[data-v-a4fa3836] {
    color: #e7229f !important
}

.Roadmap-inner .item[data-v-a4fa3836] {
    border: 1px solid #e7229f;
    border-radius: 8px;
    padding: 14px 18px;
    max-width: 264px;
    position: relative;
    transition: all .4s ease
}

.Roadmap-inner .item[data-v-a4fa3836]:hover {
    box-shadow: 0 0 0 2px #e7229f
}

.Roadmap-inner .item[data-v-a4fa3836]:hover:after,
.Roadmap-inner .item[data-v-a4fa3836]:hover:before {
    background: #e7229f !important
}

.Roadmap-inner .item[data-v-a4fa3836]:before {
    right: -54px;
    width: 20px;
    height: 20px;
    border-radius: 10px
}

.Roadmap-inner .item[data-v-a4fa3836]:after,
.Roadmap-inner .item[data-v-a4fa3836]:before {
    position: absolute;
    content: "";
    background: #565660;
    top: 50%;
    transform: translateY(-50%);
    transition: all .4s ease
}

.Roadmap-inner .item[data-v-a4fa3836]:after {
    right: -45px;
    width: 44px;
    height: 1px
}

.Roadmap-inner .item h4[data-v-a4fa3836] {
    transition: all .4s ease;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 0
}

.Roadmap-inner .item ul[data-v-a4fa3836] {
    padding-top: 24px;
    padding-left: 20px;
    list-style: disc
}

.Roadmap-inner .item ul li[data-v-a4fa3836] {
    transition: all .4s ease;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: .1em;
    color: #f6f6f6;
    position: relative
}

.Roadmap-inner .item.item02[data-v-a4fa3836] {
    margin-left: auto;
    margin-top: -33px
}

.Roadmap-inner .item.item02[data-v-a4fa3836]:after {
    right: auto;
    left: -45px
}

.Roadmap-inner .item.item02[data-v-a4fa3836]:before {
    right: auto;
    left: -54px
}

@media(max-width:767.98px) {
    .Roadmap-inner[data-v-a4fa3836] {
        padding-left: 30px
    }

    .Roadmap-inner[data-v-a4fa3836]:before {
        margin: 0
    }

    .Roadmap-inner .item.item02[data-v-a4fa3836],
    .Roadmap-inner .item[data-v-a4fa3836] {
        margin-left: 17px;
        margin-top: 20px
    }

    .Roadmap-inner .item[data-v-a4fa3836]:before {
        right: auto;
        left: -54px
    }

    .Roadmap-inner .item[data-v-a4fa3836]:after {
        right: auto;
        left: -45px;
        width: 44px
    }
}

.products_overview_title[data-v-05a9fa10] {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    color: #fff;
    font-size: 48px
}

.products_overview_title-highlighted[data-v-05a9fa10] {
    color: var(--primary-color)
}

.partners_list[data-v-05a9fa10] {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 18px 30px;
    margin: 0;
    padding: 0
}

@media (max-width:1400px) {
    .partners_list[data-v-05a9fa10] {
        grid-template-columns: repeat(4, 1fr)
    }
}

@media screen and (max-width:992px) {
    .partners_list[data-v-05a9fa10] {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px 25px
    }
}

@media screen and (max-width:768px) {
    .partners_list[data-v-05a9fa10] {
        grid-template-columns: repeat(2, 1fr);
        gap: 14px 20px
    }
}

@media screen and (max-width:576px) {
    .partners_list[data-v-05a9fa10] {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media screen and (max-width:450px) {
    .partners_list[data-v-05a9fa10] {
        grid-template-columns: repeat(1, 1fr)
    }
}

.partners_container[data-v-05a9fa10] {
    margin: 0 auto;
    padding: 0 8rem
}

@media (max-width:1400px) {
    .partners_container[data-v-05a9fa10] {
        padding: 0 60px
    }
}

.partners_link[data-v-05a9fa10] {
    display: flex;
    align-items: center;
    color: #fff;
    white-space: nowrap;
    font-size: 14px
}

.secondary_btn[data-v-05a9fa10] {
    --border-alpha: .5;
    background-color: #11090e;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, var(--border-alpha));
    font: 300 16px var(--main-font);
    padding: 17px 18px 15px;
    border-radius: 6px;
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px)
}

.secondary_btn[data-v-05a9fa10]:hover {
    --border-alpha: .81;
    background-color: #180d14
}

.partners_logo[data-v-05a9fa10] {
    width: 30px;
    height: 30px;
    margin-top: -3px;
    margin-right: 10px
}

.wrapper[data-v-0a92c624] {
    padding: 0 150px;
    margin: 0 auto
}

@media screen and (max-width:992px) {
    .wrapper[data-v-0a92c624] {
        padding: 0 32px
    }
}

.footer__wrap[data-v-0a92c624] {
    --container: 1440px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "logo logo social main-links main-links" "docks docks docks copy copy";
    justify-content: space-between;
    gap: 6px
}

@media screen and (max-width:992px) {
    .footer__wrap[data-v-0a92c624] {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "logo social" "docks main-links" "docks copy"
    }
}

.footer__logo[data-v-0a92c624] {
    grid-area: logo
}

.footer__icon[data-v-0a92c624] {
    width: 35px;
    height: 35px
}

.footer__socials[data-v-0a92c624] {
    justify-content: space-between !important;
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: center
}

.footer__social[data-v-0a92c624]:not(:last-child) {
    margin-right: 12px
}

.icon-btn[data-v-0a92c624] {
    --color: var(--icon-color--rgb);
    --color-alpha: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    min-width: 23px;
    height: 23px;
    min-height: 23px;
    margin: 0;
    padding: 0
}

.icon-btn[data-v-0a92c624]:hover {
    --color: var(--primary-color--rgb)
}

.icon-btn__fill[data-v-0a92c624] {
    fill: rgba(var(--color), var(--color-alpha));
    transition: fill .25s;
    font: 400 16px/1.5 var(--main-font)
}

.footer__main-links[data-v-0a92c624] {
    grid-area: main-links;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.text-body-16[data-v-0a92c624] {
    font: 200 16px/24px var(--main-font);
    margin-top: auto;
    margin-bottom: auto
}

.footer__main-links [data-v-0a92c624]:not(:last-child) {
    margin-right: 16px
}

.icon-color-btn[data-v-0a92c624] {
    --color: var(--primary-color--rgb);
    --color-alpha: .8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    min-width: 23px;
    height: 23px;
    min-height: 23px;
    margin: 0;
    padding: 0
}

.icon-color-btn__fill[data-v-0a92c624] {
    fill: rgba(var(--color), var(--color-alpha));
    transition: fill .25s
}

.icon-color-btn[data-v-0a92c624]:hover {
    --color-alpha: 1
}

.footer__docks[data-v-0a92c624] {
    grid-area: docks;
    margin-left: -10px
}

.footer__dock[data-v-0a92c624] {
    display: inline-block
}

.menu-btn[data-v-0a92c624] {
    --color: var(--text-color--rgb);
    --color-alpha: .7;
    --border-color: transparent;
    --border-alpha: 1;
    color: rgba(var(--color), var(--color-alpha));
    border: 1px solid var(--border-color);
    font: 200 12px var(--main-font);
    padding: 6px 10px 5px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    transition: color .25s, border-color .25s
}

.footer__copy[data-v-0a92c624] {
    grid-area: copy;
    text-align: right;
    color: rgba(var(--text-color--rgb), .4)
}

@media screen and (max-width:992px) {
    .footer__socials[data-v-0a92c624] {
        justify-content: end
    }
}

.footer__socials[data-v-0a92c624] {
    justify-content: space-between
}

.text-body-12[data-v-0a92c624] {
    font: 200 12px/24px var(--main-font)
}

.Contact-us[data-v-da4e003e] {
    margin-top: 6rem
}

.contact-us-container[data-v-da4e003e] {
    width: 100%;
    padding: 3rem;
    margin: auto
}

@media (min-width:1200px) {
    .contact-us-container[data-v-da4e003e] {
        max-width: 1140px
    }
}

.contact-us-content.popupButton[data-v-da4e003e] {
    padding: 2rem 3rem
}

.contact-us-content[data-v-da4e003e] {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    min-height: 300px;
    padding: 0 1rem
}

@media (max-width:750px) {
    .contact-us-content[data-v-da4e003e] {
        grid-template-columns: repeat(1, 1fr)
    }
}

.contact-us-content.popupButton[data-v-da4e003e] {
    background: linear-gradient(0deg, rgba(var(--primary-color--rgb), .5), rgba(var(--primary-color--rgb), 0) 100%, rgba(var(--primary-color--rgb), 0));
    border-radius: 40px
}

.contact-us-info[data-v-da4e003e] {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    justify-content: center
}

h3.section-title[data-v-da4e003e] {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin: 8px 0 0
}

@media (min-width:1000px) {
    h3.section-title[data-v-da4e003e] {
        font-size: 40px;
        line-height: 48px
    }
}

.contact-us-info>div[data-v-da4e003e] {
    margin-top: 20px
}

.contact-us-button[data-v-da4e003e] {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 0 30px
}

@media (min-width:750px) {
    .contact-us-button[data-v-da4e003e] {
        padding-top: 30px
    }
}

.btnm[data-v-da4e003e] {
    padding: 1em 3em;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: all .3s ease 0s;
    cursor: pointer;
    outline: none
}

.btnm[data-v-da4e003e]:hover {
    background-color: var(--primary-color);
    box-shadow: 0 15px 20px rgba(var(--primary-color--rgb), .4);
    color: #fff;
    transform: scale(1.1) !important
}

.btnm[data-v-da4e003e]:active {
    transform: translateY(-1px)
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: transparent
}

::-moz-selection {
    background: var(--primary-color)
}

::selection {
    background: var(--primary-color)
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 5px
}

:root {
    --primary-color: #cc1388;
    --primary-color-hover: #ce2c93;
    --text-color: #fff;
    --text-color--rgb: 255, 255, 255;
    --main-font: "Poppins", sans-serif;
    --primary-color--rgb: 204, 19, 136;
    --icon-color--rgb: 82, 81, 83;
    --border-color: var(--primary-color--rgb);
    --border-alpha: 1;
    --primary-button-background: linear-gradient(82.19deg, #cc1388 -21.97%, #622d8d 112.36%);
    --primary-button-background-hover: linear-gradient(82.19deg, #d52b97 -21.97%, #7738abdf 112.36%);
    --secondary-button-background: inital;
    --secondary-button-text: #fff;
    --secondary-button-border: #fff;
    --secondary-button-background-hover: #fff;
    --secondary-button-border-hover: #fff;
    --secondary-button-text-hover: #14171a;
    --secondary-button-disabled: inital
}

* {
    font-family: Poppins, sans-serif;
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #993491;
    color: var(--text-color)
}

ul {
    list-style-type: none
}

a {
    text-decoration: none
}

.container {
    background-repeat: no-repeat;
    background-image: url(/img/gradient1.0ca5a08f.svg), url(/img/gradient2.5cab00ca.svg), url(/img/gradient3.2f30ba94.svg), url(/img/gradient4.b774440d.svg), url(/img/gradient5.53474e45.svg), url(/img/gradient6.e745310b.svg);
    background-position: right 40%, right 72%, left 48%, left 95%, right 8%, left 13%
}

.footer {
    padding: 37px 0
}

.Alert {
    position: fixed;
    top: 18%;
    right: 25px;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    background: #0b0107;
    padding: 6px 16px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, .1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.35);
    z-index: 999
}

@media (max-width:741px) {
    .Alert {
        left: 8px;
        right: 8px
    }
}

.Alert.active {
    transform: translateX(0)
}

.Alert .Alert-content {
    display: flex;
    align-items: center
}

.Alert-content .box {
    padding: 7px 0;
    display: flex
}

.Alert-content .logo-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 44px;
    font-family: Relative Book;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 0;
    overflow: hidden
}

.Alert-content .logo {
    width: 100%;
    height: 100%;
    text-align: center;
    -o-object-fit: fill;
    object-fit: fill
}

.Alert-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px
}

.message .text {
    font-size: 16px;
    font-weight: 400
}

.message .text.text-1 {
    font-weight: 600;
    padding-right: 25px;
    margin-top: -5px;
    color: #eb6dbd
}

.Alert .close {
    position: absolute;
    color: #eb6dbd;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: .7
}

.Alert .close:hover {
    opacity: 1
}

button {
    padding: 12px 20px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #4070f4;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s
}

button:hover {
    background-color: #0e4bf1
}

.Alert.active~button {
    pointer-events: none
}