footer .links {
  padding: 80px 0 0;
  border-top: 1px solid #142038;
  background-color: #030C25;

  &-wrapper {
    margin-bottom: 83px;
    border-bottom: 3px solid #000a19;
    padding-bottom: 60px;
    box-shadow: inset 0 -1px 0 0 #021238;
  }

  .social {

    &-icons {
      a {
        color: #cbc1f4;

        &:hover {
          color: rgba(160, 174, 192, 1);
        }
      }

      svg {
        width: 27px;
        height: 27px;
      }
    }
  }

  .site-map {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    div {
      text-align: left;

      h2 {
        color: #e2e8f0;
        font-weight: 600;
        letter-spacing: .04em;
        font-size: 36px;
        margin-bottom: 20px;
      }

      ul {
        list-style: none;
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;

        li a {
          font-weight: lighter;
          color: #cbc1f4;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}