.our_checkbox {
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  height: 15px;
  width: 15px;
}

.stake {
  display: inline-flex;
}

.bridge_button_footer_btn[disabled],
.bridge_button_footer_btn[aria-disabled="true"],
.bridge_button_footer_btn[data-disabled] {
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}

#change_account_btn {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
}

ul.stake_nav_list {
  list-style-type: none;
  display: flex;
  width: 100%;
}

ul.stake_nav_list li a.stake_nav_list_link {
  cursor: pointer;
  text-decoration: none;
  outline-offset: 2px;
}

ul.stake_nav_list li a.stake_nav_list_link span {
  display: inline-block;
}

body .swap.app .menu_tabs,
body .kim_stake.app .menu_tabs,
body .kim_stake.app .component_bg,
body .swap.app .pool_section,
body .info_pane {
  max-width: 650px;
  width: 100%;
  justify-self: center;
  align-self: center;
}

body .kim_stake.app .menu_tabs,
body .kim_stake.app .component_bg {
  max-width: 450px;
}

.stake_list {
  list-style: none;
}

.stake_list .stake_list_item {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.stake_list .stake_list_item h4 {
  display: flex;
}

.stake_list .stake_list_item span {
  color: #fff !important;
  margin-left: 4px;
}

.tooltip {
  font-size: 14px;
  position: relative;
  margin-left: 3px;
}

.tooltip svg {
  fill: #2d2e31 !important;
  cursor: pointer;
}


.tooltip:hover svg {
  opacity: .5;
  transition: all 200ms;
}

.tooltip .tooltip_content {
  display: none;
  background: linear-gradient(rgb(250, 156, 245) 1.6%, rgb(182, 76, 233) 98.2%);
  border-radius: 10px;
  padding: 9px;
  min-width: 220px;
  max-width: 220px;
  color: #000;
  font-size: 12px;
  line-height: 1.3;
}

.tooltip:hover .tooltip_content {
  display: flex;
  position: absolute;
  opacity: 1 !important;
  z-index: 1000;
}

.kim_stake.app .percentage_amount_numbers input:hover {
  height: 55px;
}

.kim_stake.app .percentage_amount_numbers input {
  padding-left: .6em !important;
}


body.light_mode .stake_list .stake_list_item span {
  color: #000 !important;
}

body.light_mode .tooltip svg {
  fill: #fff !important;
}

.pool_section .description p {
  line-height: 1.3;
}

.settings_btn {
  background: none;
  position: relative;
}

.settings_btn:hover svg {
  opacity: .5;
  cursor: pointer;
}

.settings_content {
  z-index: 1;
  max-width: 400px !important;
  width: 100%;
  align-self: end;
  position: absolute;
  margin-top: 40px;
  padding: 15px;
  display: none;
}

.control_item .control_title {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}

.slippage_btn {
  box-shadow: var(--buttonShadow);
  border: 1px solid #cfcece96;
  border-radius: 35px;
  padding: 8px 20px;
  text-align: center;
  font-size: 14px;
  color: var(--fontColor1);
  margin-right: 10px;
  background-color: var(--bgColor2);
  cursor: pointer;
}

.slippage_btn.selected {
  background: var(--warmGradient) !important;
  color: var(--fontWhite);
  font-size: 15px;
  border: none;
}

body.light_mode .slippage_btn {
  background: var(--hoverColdGradientW);
}

.control_item .control_input {
  display: flex;
}

.control_item .control_input input {
  box-shadow: var(--hollowBox);
  background: var(--bgColor2);
  border-radius: 14px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px 15px;
  width: 100%;
  text-align: right;
}

body.light_mode .control_item .control_input input {
  box-shadow: var(--hollowBoxW);
  background: var(--bgWhite3);
}


.slippage_info_msg {
  font-size: 14px;
  text-align: center;
  padding-top: 7px;
  display: none;
}

.slippage_info_msg.warn {
  color: #f3841e;
}

.slippage_info_msg.error {
  color: #ff0000;
}

.control_input #slippage.error,
#txn_deadline.error {
  border: 1px solid #ff0000 !important;
  color: #ff0000 !important;
  box-shadow: none;
}

.control_input #slippage.warn {
  border: 1px solid #f3841e !important;
  color: #f3841e !important;
  box-shadow: none;
}

.control_input::after {
  color: #000 !important;
  font-size: 16px;
  font-weight: bold;
  align-self: center;
  background: linear-gradient(#fa9cf5 1.6%, #b64ce9 98.2%);
  padding: 10px 5px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.control_item:nth-of-type(1) .control_input::after {
  content: "%" !important;
}

.control_item:nth-of-type(2) .control_input::after {
  content: "minutes" !important;
}

body .info_pane {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
}

body .info_pane img {
  margin-right: 5px;
  height: 30px;
}

.showcase_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft_showcase {
  position: relative;
  height: 500px;
  width: 500px;
  padding: 0 !important;
  background-color: transparent;
}

.nft_showcase video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  border-radius: 20px;
}