:root {
  --fontWhite: #fff;
  --fontColor1: #b7c7f5;
  --fontColor2: #7a9afa;
  --fontColor3: #446de9;
  --fontColor4: #345eda;
  --fontColor5: #1e42ae;
  --fontColor6: #fff;
  --fontWhite1: #9ea6b8;
  --fontWhite2: #8995ae;
  --fontWhite3: #5c6578;
  --fontWhite4: #474e5e;
  --fontWhite5: #28282b;
  --svgColor1: #bed1ff;
  --svgColor2: #7b9cef;
  --svgColor3: #516fcb;
  --svgColor4: #385fbb;
  --svgColor5: #1e449f;
  --svgColor6: #011702;
  --svgColorW1: #fff;
  --svgColorW2: #d7e1ed;
  --svgColorW3: #b7bfd4;
  --svgColorW4: #9ea6b8;
  --svgColorW5: #7f8ba5;
  --svgColorW6: #545b73;
  --poweredBy: #fff;
  --balanceFont: var(--fontColor1);
  --summaryFont: var(--fontColor3);
  --tickerBg: var(--bgColor2);
  --tickerBorder: #047313;
  --poweredByW: #bec4d2;
  --balanceFontW: var(--fontWhite4);
  --summaryFontW: var(--fontWhite4);
  --tickerBgW: var(--bgWhite1);
  --tickerBorderW: var(--borderWhite2);
  --borderColor1: #0e3486;
  --borderColor2: #011702;
  --borderColor3: #002162;
  --borderColor4: #027f12;
  --borderWhite1: #fff;
  --borderWhite2: #e0e6f3;
  --borderWhite3: #cbced3;
  --bgColor0: #027f12;
  --bgColor1: #027F12;
  --bgColor2: #021b05cc;
  --bgColor3: #011704;
  --bgColor4: #07590b;
  --bgColor5: #020e27;
  --bgColor6: #011704;
  --bgDarkBack1: #011B01;
  --bgWhite0: #f1f5f9;
  --bgWhite1: #f6fafe;
  --bgWhite2: #f4f7fb;
  --bgWhite3: #edf2f7;
  --bgWhite4: #e5ebf0;
  --bgWhite5: var(--bglightBack1);
  --bglightBack1: #edf2f7;
  --warmButtonFont: #fff;
  --hoverWarmButtonFont: #fff;
  --coldButtonFont: #e0e0e0;
  --hoverColdButtonFont: #fff;
  --warmButtonBorder: linear-gradient(90.5deg, rgb(250, 156, 245) 1.6%, rgb(182, 76, 233) 98.2%);
  --coldButtonBorder: #10C72A;
  --warmGradLeft: #ca1c39;
  --warmGradRight: #ed8931;
  --warmGradient: linear-gradient(90.5deg, rgb(250, 156, 245) 1.6%, rgb(182, 76, 233) 98.2%);
  --hoverWarmGradient: linear-gradient(90deg, #fa9cf5, #b64ce9);
  --warmGradientW: linear-gradient(90.5deg, rgb(250, 156, 245) 1.6%, rgb(182, 76, 233) 98.2%);
  --hoverWarmGradientW: linear-gradient(90.5deg, rgb(250, 156, 245) 1.6%, rgb(182, 76, 233) 98.2%);
  --coldGradient: linear-gradient(90.5deg, rgb(250, 156, 245) 1.6%, rgb(182, 76, 233) 98.2%);
  --hoverColdGradient: linear-gradient(90deg, #002f94, #001e5f);
  --coldGradientW: linear-gradient(90deg, #ebeff5, #979da5);
  --hoverColdGradientW: linear-gradient(90deg, #fff, #fff);
  --softGradient: linear-gradient(90deg, #1e459f, #0366c9);
  --softGradientW: linear-gradient(90deg, #2a63d5, #42baff);
  --sliderGrad: linear-gradient(90deg, #1e449f 30%, #0382c8);
  --sliderGradW: linear-gradient(90deg, #dc6e4e 30%, #ffc188);
  --bgVerticalGrad: linear-gradient(0deg, #001138, #001239);
  --bgHorzGrad: #011704;
  --bgDonutCircle: linear-gradient(325deg, #000511 -58%, var(--bgColor1) 55%);
  --bgCornerGrad: linear-gradient(222deg, #000e26, var(--bgColor1));
  --bgVerticalGradW: linear-gradient(0deg, #e2e7ee, #f4f8fb);
  --bgHorzGradW: linear-gradient(270deg, #ecf1f7, #f7fbfe);
  --bgDonutCircleW: linear-gradient(325deg, #d0d4d8, #f7fbfe 55%);
  --bgCornerGradW: linear-gradient(222deg, #eef3f7, #f7fbfe);
  --bgGradient: linear-gradient(90deg, var(--bgGradLeft), var(--bgGradRight));
  --bgGradLeft: #011704;
  --bgGradRight: #011704;
  --bgHeader: #011B01;
  --headerGradLeft: #011704;
  --headerGradRight: #011704;
  --boxShadow1: rgba(5, 13, 97, .8);
  --boxShadow2: rgba(20, 29, 48, .2);
  --boxShadow3: rgba(0, 0, 0, .1);
  --boxShadow4: rgba(0, 0, 0, .4);
  --boxShadowX: #032161;
  --darkShadow: 0px 2px 13px 4px rgba(0, 0, 0, .35);
  --darkShadowW: 0px 3px 8px 3px rgba(211, 214, 225, .6);
  --smallShadow: 1px 1px 2px 1px #011238;
  --smallShadowW: 1px 1px 2px 1px #dee3e9;
  --softShadow: 0px 3px 23px 6px rgba(0, 0, 0, .22);
  --softShadowW: 0px 3px 23px 6px #353642;
  --cornerShadow: inset -2px 2px 6px 0px #040a19;
  --cornerShadowW: inset -2px 2px 6px 0px #d5d5d5;
  --checkbox: 0px 0px 0px 1px #071e4b, 1px 2px 1px 0px #001f5d, inset -2px 2px 2px 0px #011238;
  --scrollbar: inset -13px 0px 0px 0px #027F12;
  --formTabLeft: 0px 20px 0px 0px var(--bgColor1), 8px 4px 15px -4px var(--bgColor1), inset -1px 1px 1px 0px var(--bgcolor1);
  --formTabRight: 0px 20px 0px 0px var(--bgColor1), -8px 4px 15px -4px #05143a, inset 1px 1px 1px 0px #0b255c;
  --formTabLeftW: 0px 20px 0px 0px #f7fbfe, 8px 4px 15px -4px #e7ecef, inset -1px 2px 0px 0px #fff;
  --formTabRightW: 0px 20px 0px 0px #f7fbfe, -8px 4px 15px -4px #e7ecef, inset 1px 1px 1px 0px #fff;
  --baseShadow: inset 0px -9999px 0px 0px var(--bgColor1), 2px 2px 11px 0px rgba(0, 0, 0, .18), 2px 2px 4px 0px rgba(0, 0, 0, .12);
  --baseShadowGloss: inset 0px -1px 0px 0px #001b55, inset 2px 0px 0px 0px #00184b, -1px -1px 0px 1px #032161, -1px -1px 1px 1px #03216196;
  --bgComponent: inset 0px -1px 0px 0px #001B01, inset 2px 0px 0px 0px #001B01, -1px -1px 0px 1px #001B01, -1px -1px 1px 1px #001B01, var(--baseShadow);
  --bgComponentTabs: inset 0px 0px 0px 0px #001b55, inset 2px 0px 0px 0px #00184b, -1px -1px 0px 1px #032161, 0px 1px 1px 0px #032161;
  --bgTopGloss: inset 0px 56px 15px 0px #041e50c2, var(--baseShadowGloss), var(--baseShadow);
  --bgSoftTopGloss: inset 0px 20px 15px 0px #041e50e6, var(--baseShadowGloss), var(--baseShadow);
  --bgBisel: inset 0px -1px 0px 0px #001b55, inset 1px 0px 0px 0px #00184b, -1px -1px 0px 1px #032161, -1px -1px 1px 1px #03216196, inset 0px -9999px 0px 0px var(--bgColor1), 2px 2px 11px 0px rgba(0, 0, 0, .18), 2px 2px 4px 0px rgba(0, 0, 0, .12);
  --donutOuter: -6px -5px 9px 0px #072357, 0px 0px 0px 1px #001a4d, 1px 2px 1px 0px #001e5b, inset -2px 2px 2px 0px #021131, inset 0px 2px 2px 0px #001033, 6px 5px 9px 0px #02081a52;
  --donutButton: -1px -2px 2px 0px #0c2457, inset -1px 1px 0px 0px #061c49, inset 1px 1px 0px 0px #0c2457, 2px 3px 1px 0px #001031, 4px 4px 16px 0px rgba(0, 0, 0, .42);
  --donutHole: inset 0px 0px 0px 8px #010e2f;
  --formButton: inset 0px -1px 0px 0px #07590b, inset 2px 0px 0px 0px #07590b, -1px -1px 0px 1px #07590b, -1px -1px 2px 2px #07590b, inset 0px -9999px 0px 0px var(--bgColor1), 2px 2px 11px 0px #07590b, 1px 1px 4px 0px #07590b, -1px -1px 9px 8px #07590b;
  --formButtonSmall: inset 0px -1px 0px 0px #001b55, inset 2px 0px 0px 0px #00184b, -1px -1px 0px 1px #032161, -1px -1px 2px 2px #03216196, inset 0px -9999px 0px 0px var(--bgColor1), 2px 2px 11px 0px rgba(0, 0, 0, .18), 1px 1px 4px 0px rgba(0, 0, 0, .72), -1px -1px 9px 0px #07590b;
  --formButtonInner: 0px -3px 0px -1px, inset 0px 20px 10px -10px #07590b, 0px 3px 0px -1px #07590b, inset 0px -20px 10px -10px #07590b;
  --rightFormButtonInner: -3px 0px 0px 0 #042055, inset 20px 0px 10px -10px #020818, 3px 0px 0px -1px #042055, inset -20px 0px 10px -10px #050d21;
  --formButtonInnerSmall: 0px -3px 0px -1px #042055, inset 0px 15px 10px -10px #020b24, 0px 3px 0px -1px #042055, inset 0px -15px 10px -10px #020b24;
  --buttonShadow: 1px 1px 6px 1px var(--boxShadow2);
  --neoButton: -2px -2px 1px 0px #001B01, -4px -4px 13px 0px #001B01, 2px 3px 1px 0px #001B01, 4px 4px 16px 0px #001B01;
  --neoButtonThin: -2px -2px 1px 0px #001B01, -1px -1px 10px 0px #001B01, 1px 1px 1px 0px#001B01, 1px 1px 5px 0px #001B01;
  --insetButton: 0px 0px 0px 0px #001B01, 0px 0px 0px 0px #001B01, inset 0px 0px 0px 0px #001B01;
  --warmButtonLight: 1px 1px 8px 1px #cc392699;
  --warmButtonLightW: 1px 1px 6px 1px linear-gradient(90.5deg, rgb(250, 156, 245) 1.6%, rgb(182, 76, 233) 98.2%);
  --hollowBox: 0px 0px 0px 0px #011203, 0px 0px 0px 0px #011203, inset 1px 1px 1px 0px #011203, inset 0px 0px 0px 1px #011203, 2px 2px 3px 0px rgba(0, 0, 0, .29);
  --hollowBox2: 0px 0px 0px 1px #041e50, 2px 2px 2px 0px #052054, inset 1px 1px 1px 0px #021035, inset 0px 0px 0px 1px #021035, 2px 2px 3px 0px rgba(0, 0, 0, .29);
  --hollowBoxThin: inset 1px 1px 0px 0px rgba(0, 0, 0, .5), 1px 1px 0px 0px #072463;
  --hollowLine: inset 0px 0px 0px 1px #000;
  --bgComponentW: -1px -1px 0px 1px #fff, 0px -6px 10px 0px #f7f7f7, 0px 6px 15px 0px #e1e1e5, 3px 12px 26px 3px #d9deed;
  --bgComponentTabsW: -1px -1px 0px 1px #fff, 0px -6px 15px 0px #e2e8ed, 0px 2px 0px 0px #fff;
  --bgBiselW: -1px -1px 0px 1px #fff, 0px -1px 1px 0px hsla(0, 0%, 100%, .4), 0px 3px 10px 0px rgba(72, 72, 72, .14), 1px 1px 1px 1px rgb(0 23 101/4%);
  --hollowBoxW: 0px 0px 0px 1px #fff, 2px 2px 2px 0px #fff, inset 1px 2px 2px 0px #dee2e6, inset 0px 0px 0px 1px #e0e4e826, 2px 2px 6px 0px rgba(0, 0, 0, .12);
  --hollowBoxThinW: inset 1px 1px 2px 0px #d9dee2, 2px 2px 0px 0px #fff;
  --hollowLineW: inset 0px 0px 0px 1px #cfdcef;
  --hollowBorderW: 0px 0px 0px 2px #fff, 2px 2px 2px 4px #d1d7de;
  --donutOuterW: -6px -5px 9px 0 #ffffffdc, 0 0 0 1px #f7fbfe, 1px 2px 1px 0 #f7fbfe, inset -2px 2px 2px 0 #d8dce1, inset 0 2px 2px 0 #d4d4d8, 6px 5px 9px 0 #b9bfd252;
  --donutButtonW: -1px -2px 2px 0 #edf1f4, inset -1px 1px 0 0 #f7fbfe, inset 1px 1px 0 0 #fff, 2px 3px 1px 0 #babec4, 4px 4px 16px 0 rgba(0, 0, 0, .42);
  --donutHoleW: inset 0px 0px 0px 8px #dde1e6;
  --neoButtonW: -2px -2px 1px 0px hsla(0, 0%, 100%, .62), -4px -4px 13px 0px #fff, 2px 3px 1px 0px #ced4dd, 4px 4px 16px 0px #caced2;
  --neoButtonThinW: -2px -2px 1px 0px #fff, -1px -1px 10px 0px #fff, 1px 1px 1px 0px #dadee6, 1px 1px 5px 0px #caced2;
  --neoButtonSoftW: -2px -2px 1px 0px hsla(0, 0%, 100%, .7), -1px -1px 10px 0px #fff, 1px 1px 1px 0px #dadee6, 1px 1px 5px 0px hsla(210, 8%, 81%, .9);
  --insetButtonW: 0px 0px 0px 1px #fff, inset -2px 2px 2px 0px #dce3f1;
  --scrollbarW: inset -13px 0px 0px 0px #e0e6f3;
  --formButtonW: inset 0px -1px 0px 0px #fff, inset 2px 0px 0px 0px #ecf1fc, -1px -1px 0px 1px #fff, -1px -1px 2px 2px #ecf1fc, inset 0px -9999px 0px 0px #f3f6f8, 0px 2px 11px 0px #ccd3df, 1px 1px 4px 0px #adb0b6, -1px -1px 1px 15px #e7ebef;
  --formButtonSmallW: inset 0px -1px 0px 0px #fff, inset 2px 0px 0px 0px #ecf1fc, -1px -1px 0px 1px #fff, -1px -1px 2px 2px #ecf1fc, inset 0px -9999px 0px 0px #f3f6f8, 2px 2px 11px 0px #c6cbd0, 1px 1px 4px 0px #adb0b6, -1px -1px 9px 8px #e2e4e8;
  --formButtonInnerW: 0px -3px 0px 0px #fff, inset 0px 3px 5px 0px #e2e7ed, 0px 3px 0px 0px #fdfefe, inset 0px -3px 5px 0px #e2e7ed;
  --formButtonInnerSmallW: 0 -2px 0 0 #fdfefe, inset 0 3px 5px 0 #e2e7ed, 0 3px 0 0 #fdfefe, inset 0 -3px 5px 0 #e2e7ed;
  --rightFormButtonInnerW: -3px 0px 0px 0px #fff, inset 0px 3px 5px 0px #d4e1f5, 3px 0px 0px 0px #fdfefe, inset 0px -3px 5px 0px #c3d2e7;
  --white: #fff;
  --red: #e25151;
  --green: #26bd86;
  --orange: #fca82a;
  --bgWarning: rgba(137, 46, 52, .48);
  --warningBorder: #892e34;
  --bgWarningW: rgba(233, 90, 68, .67);
  --warningBorderW: #ea4e4e
}